body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.eventList { 
  margin: 100px;

border : 3px lightcoral solid ;
display: grid;
grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
flex-wrap: wrap;
grid-gap: 20px; 

}
.event { 
  margin: 0px;
  padding: 20px;
  border: teal 3px solid;
  display: grid;
  grid-template-rows: max-content 100px 1fr;
  text-align: center;
  background-color: grey;
  color: white ; 
  

}

button{ 
  display: inline;
}

img { 
  height: 100px;
  width: 76px;
}


.div1
    {
      width: 50%;
      height:200px;
      background-color:#A52A2A ;
      float:left;
    }
    .div2
    {
      width: 50%;
      height:200px;
      background-color:#FFA500 ;
      float:left;
    }



    

@media only screen and (max-width: 600px) {
  .eventList {
  
    margin: auto;
  }
}